body, head {
  /*font-family: sans-serif;*/
  margin: 0
}

p, li {
  font-family: "Lato", sans-serif;
 }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", sans-serif;
 }

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: white;
}

a:hover {
  color: rgb(22, 148, 227);
}

hr {
  border: 1px dashed;
  margin: 0 auto;
  width: 97%;
}

.box {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  width: 90%;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}

.content p {
  font-size: 25px;
}

.content h2 {
  font-size: 35px;
}

.material-icons {
  font-size: 60px !important;
  background-color: rgba(103, 103, 103, 0.40);
  border-radius: 50px;
  padding: 5px;
}

.arrow {
  margin: 7px 0px;
}

/* Box 1 - Header */
header {
  background-image: url("pictures/background-image.JPG");
}

#title {
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 1000px;
  text-shadow: 0.5px 0.5px 1px gray;
}

#title h1 {
  font-size: 50px;
}

#title h2 {
  font-size: 30px;
}

.button {
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: white;
  border-radius: 5px;
}

#blog-button {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

#blog-button:hover {
  background-color: #FF983C;
}

/* Box 2 - Information */

#information {
  background-color: rgb(22, 148, 227);
}

/* Box 3 - Skills */
#skills {
  background-color: rgb(38, 209, 140);
}

#skill-box {
  width: 70%;
  margin: 0 auto;
}

.skill {
  padding: 10px;
  width: 80px;
  height: 80px;
  align-items: center;
  text-align: center;
}

#skill-html {
  background-color: rgb(255, 99, 0);
  margin-right: 10px;
}

#skill-css {
  background-color: rgb(3, 125, 185);
  margin-right: 10px;
}

#skill-git {
  background-color: rgb(131, 54, 36);
  margin-right: 10px;
}

#skill-linux {
  background-color: rgb(10, 170, 165);
}

.skill-picture {
  padding: 10px;
  width: 80px;
  height: 80px;
  margin-top: 15px;
}

#skill-python {
  background-color: rgb(224, 217, 44);
}

/* Box 4 - Projects */

#projects {
  background-color: rgb(252, 157, 10);
}

#project-tabs {
  list-style-type: none;
  width: 100%;
  margin: 0px !important;
  color: rgb(252, 157, 10);
  background-color: white;
  border-radius: 3px;
}

.project-tab {
  display: inline-block;
  width: 50%;
  margin: 0 !important;
  padding: 10px 0px !important;
  text-align: center;
}

.project-tab:hover {
  cursor: pointer;
  color: rgb(212, 74, 46);
}

.project-tab.tab-active {
  background-color: rgb(199, 110, 61);
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* TODO: Improve grid layout */
  grid-auto-rows: 350px;
  margin-top: 10px;
}

.project {
  background-color: white;
  border-radius: 10px;
  margin-right: 7px;
}

.project h3 {
  font-size: 19px;
  color: black;
  text-align: center;
}

.project p {
  font-size: 16px;
  color: black;
  margin: 0px 8px;
}

.project img {
  width: 100%
}

.project i {
  color: black;
  margin-top: 10px;
}

#button-up {
  margin-top: 20px;
}

/* Box 5 -Newsletter */

#newsletter  {
  background-color: rgb(218, 13, 61);
}

#newsletter form {
  margin: 0 auto;
  text-align: center;
}

#newsletter input {
  border: 0;
  width: 75%;;
  height: 50px;
  margin-bottom: 5px;
  padding: 4px;
  text-align: center;
}

#newsletter button {
  height: 50px;
  background: rgb(66, 181, 131);
  border: 0;
  color: white;
  width: 76%;
}

/* Box 6 - Contact */

#contact {
  background-color: rgb(63, 85, 142);
  text-align: center;
}

#contact input {
  border: 0;
  width: 75%;;
  height: 50px;
  margin-bottom: 5px;
  padding: 4px;
  text-align: center;
}

#contact textarea {
  border: 0;
  width: 74%;;
  height: 200px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  background: white;
  font-family: sans-serif;
}

#contact button {
  height: 50px;
  background: rgb(66, 181, 131);
  border: 0;
  color: white;
  width: 76%;
}

/* Box 7 - Social */

#social {
  background-color: rgb(193, 249, 132);
}

/* Footer */

footer {
  width: 100%;
  background-color: rgb(22, 148, 227);
  text-align: center;
  color: white;
  padding: 3px;
}

footer a:hover {
  color: rgb(5, 107, 171);
}


/* Mobile View */
@media (max-width: 768px) {
  .content p, content a, content label {
    font-size: 20px;
  }

  .content h2 {
    font-size: 25px;
  }

  .arrow {
    display: none;
  }

  .projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 350px;
  }

  #projects .project p {
    display: none;
  }

  .project {
    margin: 5px 3x;
  }

  input, button {
    padding: 12px !important;
    height: auto !important;

  }

  #newsletter input {
    width: 100% !important;
    margin-right: 5px !important;
  }

  #newsletter button {
    width: 100% !important;
  }

  textarea {
    height: 100px !important;
  }
}

/* Alert box */
.alert {
  margin: auto;
  width: 75%;
  padding: 2px;
  color: white;
  margin-bottom: 15px;
}

#newsletter-success, #contact-success {
  border: 3px solid rgb(66, 181, 131);
}

#newsletter-error, #contact-error {
  border: 3px solid rgb(218, 13, 61);
}

.alert p {
  font-size: 20px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
