p,
a,
li {
    font-family: "Mukta Mahee", sans-serif;
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: "Fjalla One", sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

input, textarea {
    display: block;
    width: 100%;
    border: 0;
    padding: 15px;
    margin: 10px 0;
}

textarea {
    resize: vertical;
    height: 200px;
    font-family: 'Mukta Mahee', sans-serif;
}