@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: #b5bbce;
    font-family: 'Ubuntu Mono', monospace;
}