@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee|Ubuntu+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    font-family: 'Mukta Mahee', sans-serif;
    color: #b5bbce;
    font-family: sans-serif;
}