
@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

:root {
    --color-blue: #077187;
    --color-light-blue: #93b7be;
    --color-red: #db504a;
    --color-yellow: #f4d35e;
    --color-green: #008575;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

body {
    font-family: "Mukta Mahee", sans-serif;
    margin: 0;
    padding: 0;
}

p, a, li {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: "Fjalla One", sans-serif;
}

section {
    margin: 50px 0;
    padding: 100px;
}